    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="span12">
            <p class="pull-left">
              <!-- icons from http://pixelbazaar.com/ -->
              <a href="https://twitter.com/epicodus"><img src="img/twitter.png" alt="Twitter"></a>
              <a href="https://www.facebook.com/epicodus.school"><img src="img/facebook.png" alt="Facebook"></a>
              <a href="http://blog.epicodus.com/"><img src="img/tumblr.png" alt="Blog"></a>
            </p>
            <p class="pull-right">
              &copy;2015 Epicodus, Inc.
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
      adroll_adv_id = "LFGN7OVHTRANLO4LR2P4PS";
      adroll_pix_id = "YC7JLVJQ3NGONLHHZDDZSB";
      (function () {
      var oldonload = window.onload;
      window.onload = function(){
         __adroll_loaded=true;
         var scr = document.createElement("script");
         var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
         scr.setAttribute('async', 'true');
         scr.type = "text/javascript";
         scr.src = host + "/j/roundtrip.js";
         ((document.getElementsByTagName('head') || [null])[0] ||
          document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
         if(oldonload){oldonload()}};
      }());
</script>

    {% is index.html %}
      <script src="js/jquery.fitvids.js"></script>
      <script src="//a.vimeocdn.com/js/froogaloop2.min.js"></script>
      <script>
        $(document).ready(function(){
          $(".video").fitVids();
        });
      </script>
      <script>
        var iframe = $('#homepage-video')[0],
            player = $f(iframe);
        var videoName = "Homepage";


        player.addEvent('ready', function() {
          player.addEvent('play', function(){
            _kmq.push(['record', 'Played Video', {'Played Video Name': videoName}])
          });
          player.addEvent('pause', function(){
            _kmq.push(['record', 'Paused Video', {'Paused Video Name': videoName}])
          });
          player.addEvent('finish', function(){
            _kmq.push(['record', 'Finished Video', {'Finished Video Name': videoName}])
          });
        });
      </script>
    {% endis %}
  </body>
</html>
