    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="span12">
            <p class="pull-left">
              <!-- icons from http://pixelbazaar.com/ -->
              <a href="https://twitter.com/epicodus"><img src="img/twitter.png" alt="Twitter"></a>
              <a href="https://www.facebook.com/epicodus.school"><img src="img/facebook.png" alt="Facebook"></a>
              <a href="http://blog.epicodus.com/"><img src="img/tumblr.png" alt="Blog"></a>
            </p>
            <p class="pull-right">
              &copy;2014 Epicodus, Inc.
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.fitvids.js"></script>
    <script>
    $(document).ready(function(){
      $(".video").fitVids();
    });
    </script>

  </body>
</html>
