    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="span12">
            <p>&copy; 2014 Epicodus, Inc. <a href="mailto:hi@epicodus.com">Email us.</a></p>
          </div>
        </div>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.fitvids.js"></script>
    <script>
    $(document).ready(function(){
      $(".video").fitVids();
    });
    </script>

  </body>
</html>
