<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Epicodus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn how to program in four months.">

    <!-- KISSmetrics tracking snippet -->
    <script type="text/javascript">
      var _kmq = _kmq || [];
      var _kmk = _kmk || '07d1b04131501c7ddb0e0105b56d653015830928';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    </script>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link href="css/core.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="logo nav">
            <li><a href="/"><img src="img/epicodus.png" alt="Epicodus logo"></a></li>
          </ul>
          <ul class="nav pull-right">
            <li><a href="students.html">Students</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Courses
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="php.html">PHP/JavaScript/Drupal</a></li>
                <li><a href="ruby.html">Ruby/JavaScript/Rails</a></li>
              </ul>
            </li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="employers.html">Employers</a></li>
          </ul>
        </div>
      </div>
