{% include partials/header.html %}
<div class="row">
  <div class="span12">
    <h1><a href="index.html">Epicodus</a> application</h1>
  </div>
</div>
<div class="row">
  <div class="span4">
    <div class="module mod-faq">
      <h3><i class="icon-search icon-large"></i>What we look for</h3>
      <p>There are two things we look for in applicants:</p>
      <ol>
        <li><strong>You're a good team player</strong> - we spend almost all of our time working in pairs and groups, so if you prefer working alone, this isn't the right school for you.</li>
        <li><strong>You've tried programming</strong> before, so that you know that you like it and can be successful at it.</li>
      </ol>
    </div>
  </div>
  <div class="span4">
    <div class="module mod-faq">
      <h3><i class="icon-road icon-large"></i>The process</h3>
      <p>After you submit your application, we'll contact you within two weeks to set up a phone interview. After the phone interview, we'll let you know if you're accepted within two weeks. If you're accepted, you'll have one week to decide whether you'd like to enroll and make your first payment.</p>
      <p>We consider applications on a rolling basis. There are no deadlines, but the earlier you apply, the better your chances of being accepted.</p>
      <p>If you have any questions at all, please <a href="mailto:applications@epicodus.com">email us</a>.</p>
    </div>
  </div>
  <div class="span4">
    <div class="module mod-faq">
      <h3><i class="icon-edit icon-large"></i>The programming tests</h3>
      <p>To make sure that you have tried enough programming to know that Epicodus will be a good use of your time and money, you must be able to solve the <a href="http://www.learnhowtoprogram.com/lessons/layout-test" target="_blank">layout test</a> and the <a href="http://www.learnhowtoprogram.com/lessons/the-ping-pong-test" target="_blank">Ping-Pong test</a> (the example is done in JavaScript, but you're welcome to use another language if you have experience elsewhere).</p>
      <p>If you don't know how to complete these tests yet, that's fine! Leave that part of the application blank and go through the first chapters of the Epicodus curriculum at <a href="http://www.learnhowtoprogram.com/" target="_blank">www.learnhowtoprogram.com</a>. When you have your solutions ready, email applications@epicodus.com.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="span9">
    <div id="wufoo-x167eug5171gmev">
      <a href="https://epicodus.wufoo.com/forms/x167eug5171gmev">Click here to apply.</a>
    </div>
    <script type="text/javascript">var x167eug5171gmev;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'epicodus',
    'formHash':'x167eug5171gmev',
    'autoResize':true,
    'height':'1384',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { x167eug5171gmev = new WufooForm();x167eug5171gmev.initialize(options);x167eug5171gmev.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');</script>
  </div>
</div>

<p>Epicodus prohibits discrimination against any local, state, or federal protected classes towards its applicants, students, employees.</p>

<p>Protected classes include race, color, national origin, age, disability, sex, gender identity, religion, reprisal, political beliefs, marital status, familial or parental status, sexual orientation, receipt of public assistance, and protected genetic information.</p>
{% include partials/footer.html %}
