{% include partials/header.html %}
<div class="row">
  <div class="span12">
    <h1>Apply</h1>
  </div>
</div>
<div class="row">
  <div class="span4">
    <div class="module mod-faq">
      <h3><i class="icon-search icon-large"></i>What we look for</h3>
      <p>There are two things we look for in applicants:</p>
      <ol>
        <li><strong>You're a good team player</strong> - we spend almost all of our time working in pairs and groups, so if you prefer working alone, this isn't the right school for you.</li>
        <li><strong>You've tried programming</strong> before, so that you know that you like it and can be successful at it.</li>
      </ol>
    </div>
  </div>
  <div class="span4">
    <div class="module mod-faq">
      <h3><i class="icon-road icon-large"></i>The process</h3>
      <p>After you submit your application, we'll contact you within two weeks to set up a phone interview. After the phone interview, we'll let you know if you're accepted within two weeks. If you're accepted, you'll have one week to decide whether you'd like to enroll and make your first payment.</p>
      <p>We consider applications on a rolling basis. There are no deadlines, but the earlier you apply, the better your chances of being accepted.</p>
      <p>If you have any questions at all, please <a href="mailto:applications@epicodus.com">email us</a>.</p>
    </div>
  </div>
  <div class="span4">
    <div class="module mod-faq">
      <h3><i class="icon-edit icon-large"></i>The programming tests</h3>
      <p>To make sure that you have tried enough programming to know that Epicodus will be a good use of your time and money, you must be able to solve the <a href="http://www.learnhowtoprogram.com/lessons/layout-test" target="_blank">layout test</a> and the <a href="http://www.learnhowtoprogram.com/lessons/the-ping-pong-test" target="_blank">Ping-Pong test</a> (the example is done in JavaScript, but you're welcome to use another language if you have experience elsewhere).</p>
      <p>If you don't know how to complete these tests yet, that's fine! Leave that part of the application blank and go through the first chapters of the Epicodus curriculum at <a href="http://www.learnhowtoprogram.com/" target="_blank">www.learnhowtoprogram.com</a>. When you have your solutions ready, email applications@epicodus.com.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="span9">
    <h1>Application</h1>
    <form id="application" method="post" action="https://epicodus.wufoo.com/forms/x167eug5171gmev/#public">
      <label for="Field3">
        Describe a <em>specific</em> time when you worked on a close-knit team. Address each of these points:<br />
        <br />
        * How did you contribute to the success or failure of the project?<br />
        * How did other people on the team contribute to the success or failure? <br />
        * What were your strengths as a group member?<br />
        * What were your weaknesses?<br />
        * How did you deal with other group members you didn't get along well with?
      </label>
      <textarea id="Field3" name="Field3" spellcheck="true" rows="10" required style="width: 100%;"></textarea>

      <label for="Field19">
        Complete the <a href="http://www.learnhowtoprogram.com/lessons/the-ping-pong-test" target="_blank">Ping-Pong test</a> and paste a link to your solution here. If you solve it in a language other than JavaScript, put it in a <a href="https://gist.github.com/" target="_blank">Gist</a> and paste the link.
      </label>
      <input id="Field19" name="Field19" type="url">

      <label for="Field28">
        Complete the <a href="http://www.learnhowtoprogram.com/lessons/layout-test" target="_blank">layout test</a>. Paste a link to your page here.
      </label>
      <input id="Field28" name="Field28" type="url">

      <label for="Field11">What's your first name?</label>
      <input id="Field11" name="Field11" type="text" spellcheck="false" required>

      <label for="Field12">What's your last name?</label>
      <input id="Field12" name="Field12" type="text" spellcheck="false" required>

      <label for="Field13">What's your email address?</label>
      <input id="Field13" name="Field13" type="email" spellcheck="false" required>

      <label for="Field14">What's your phone number?</label>
      <input id="Field14" name="Field14" type="tel" required>

      <label>Where do you currently live?</label>
      <label for="Field5_0" class="radio">
        <input id="Field5_0" name="Field5" type="radio" value="Portland">
        Portland
      </label>
      <label for="Field5_1" class="radio">
        <input id="Field5_1" name="Field5" type="radio" value="Somewhere else">
        Somewhere else:
      </label>
      <input name="Field5" type="text">

      <label for="Field26">One of our goals is to help our graduates improve their jobs. What's your current or most recent yearly salary?</label>
      <input id="Field26" name="Field26" type="text" required>

      <label>How will you pay?</label>
      <label for="Field16_0" class="radio">
        <input id="Field16_0" name="Field16" type="radio" value="$3,400 up-front">
        $3,400 up-front
      </label>
      <label for="Field16_1" class="radio">
        <input id="Field16_1" name="Field16" type="radio" value="$900 up-front, $3,600 on the first day of class ($4,500 total)">
        $900 up-front, $3,600 on the first day of class ($4,500 total)
      </label>
      <label for="Field16_2" class="radio">
        <input id="Field16_2" name="Field16" type="radio" value="$200 up-front, $600 monthly for 8 months after class ($5,000 total)">
        $200 up-front, $600 monthly for 8 months after class ($5,000 total)
      </label>

      <label>Which courses are you applying for?</label>
      <label class="checkbox">
        <input id="Field32" name="Field32" type="checkbox" value="March 2 PHP, JavaScript, and Drupal course">March 2 PHP, JavaScript, and Drupal course
      </label>
      <label class="checkbox">
        <input id="Field33" name="Field33" type="checkbox" value="April 20 Ruby, JavaScript, and Rails course">April 20 Ruby, JavaScript, and Rails course
      </label>

      <input type="hidden" id="idstamp" name="idstamp" value="nBthXKRAA0BSeIkdjCx4WOFmZ0Mt/7A+W9uSfPNi5sA=" />

      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>

<p>Epicodus prohibits discrimination against any local, state, or federal protected classes towards its applicants, students, employees.</p>

<p>Protected classes include race, color, national origin, age, disability, sex, gender identity, religion, reprisal, political beliefs, marital status, familial or parental status, sexual orientation, receipt of public assistance, and protected genetic information.</p>
{% include partials/footer.html %}
