{% include partials/header.html %}
<div class="row">
  <div class="span12">
    <h1><a href="index.html">Epicodus</a> employers</h1>
  </div>
</div>
<div class="row">
  <div class="span9">
    <h2>Epicodus students don't just learn how to build web applications with modern tools and technologies: they learn to think like programmers.</h2>
    <p><a href="mailto:employers@epicodus.com" class="btn btn-primary btn-large">Email us to learn more.</a></p>
    <p><a href="hired.html"class="btn btn-large">See who has hired Epicodus graduates.</a></p>
  </div>
</div>
<div class="row">
  <div class="span6">
    <div class="feature">
      <p><em>"The three junior developers we hired from from Epicodus have been a great addition to our team. They came prepared with the foundational knowledge and passion we look for as a growing company. We would gladly hire Epicodus grads again!"</em> - Cory Zimmerman, Sandbox Studio</p>
    </div>
  </div>
  <div class="span6">
    <div class="feature">
      <p><em>"I couldn't be happier with our two recent hires from the Epicodus program. They make an excellent addition to the team."</em> - Carlos Rodriguez, Planet Argon</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6">
    <div class="module mod-faq">
      <h3><i class="icon-star icon-large"></i>Our approach</h3>
      <p>We believe that learning to think like a programmer and write good code is more important than any specific skill. That's why our students learn two languages (JavaScript and Ruby), test-driven development, and object-oriented design before ever touching a framework like Rails or Ember.js. We also know that teamwork is at least as important as coding skills, which is why we practice pair programming and Agile development.</p>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-check icon-large"></i>Practices we teach</h3>
      <ul>
        <li>Object-oriented design</li>
        <li>Test-driven development</li>
        <li>Pair programming</li>
        <li>Polyglotism</li>
        <li>Agile development</li>
        <li>Learning to learn</li>
      </ul>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-cog icon-large"></i>Technologies we use</h3>
      <ul>
        <li>HTML and CSS</li>
        <li>jQuery</li>
        <li>Javascript</li>
        <li>Mocha and Chai</li>
        <li>Ruby</li>
        <li>RSpec</li>
        <li>SQL</li>
        <li>Rails</li>
        <li>AngularJS</li>
        <li>Ember.js</li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <div class="module mod-faq">
      <h3><i class="icon-plus-sign icon-large"></i>How our students learn so quickly</h3>
      <p>A day at Epicodus involves close to seven hours of actual coding, with the rest of the time spent on standups, checkins, and retrospectives. Epicodus graduates have around 700 hours of experience writing real programs, and portfolios of over a dozen open-source projects they've built.</p>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-map-marker icon-large"></i>What to expect</h3>
      <p>If you hire an Epicodus graduate, you're hiring a very talented entry-level programmer. Our graduates are smart, hard-working, and have a solid understanding of the basics of web development and object-oriented design. If you use a different technology stack than we teach, many of our graduates will be excited for a chance to learn another set of tools, and will have the ability to pick up those new skills quickly.</p>
      <p>We focus on practical skills and do not teach computer science, so more theoretical programming interview questions you might give to traditional CS students are not appropriate for our graduates. For example, we don't teach about linked lists. If there are specific skills you need that we don't teach, we encourage you to <a href="mailto:employers@epicodus.com">contact us</a> about adding them to our curriculum, or ask your candidates to learn them on their own before your interview.</p>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-calendar icon-large"></i>How to hire</h3>
      <p>Throughout our classes, we hold open houses where you can see students' work. For the last month of each class, you can host interns from Epicodus (read our <a href="internship-report.pdf">internship report [PDF]</a>). Towards the end of each class, we have a job fair where you can recruit. There's no cost or placement fee to hire our students.</p>
      <p><a href="mailto:employers@epicodus.com" class="btn btn-primary btn-large">Email us to find out more.</a></p>
    </div>
  </div>
</div>
{% include partials/footer.html %}
