{% include _partials/header.html %}
<div class="row">
  <div class="span12">
    <h1><a href="index.html">Epicodus</a> alums work here</h1>
  </div>
</div>
<div class="row">
  <div class="span9">
    <h2>These are a few of the companies that have hired Epicodus graduates:</h2>
    <p><a href="mailto:employers@epicodus.com" class="btn btn-primary btn-large">Email us to join them.</a></p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <p><a href="https://cloudability.com/" target="_blank"><img class="employer" src="img/employers/cloudability.png" alt="Cloudability logo"></a></p>
  </div>
  <div class="span4">
    <p><a href="http://www.crowdcompass.com/" target="_blank"><img class="employer" src="img/employers/crowdcompass.png" alt="CrowdCompass logo"></a></p>
  </div>
  <div class="span4">
    <p><a href="http://www.developmentnow.com/" target="_blank"><img class="employer" src="img/employers/developmentnow.png" alt="DevelopmentNow logo"></a></p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <p><a href="http://www.graphalchemist.com/" target="_blank"><img class="employer" src="img/employers/graphalchemist.png" alt="GraphAlchemist logo"></a></p>
  </div>
  <div class="span4">
    <p><a href="http://www.grayboxpdx.com/" target="_blank"><img class="employer" src="img/employers/graybox.png" alt="Graybox logo"></a></p>
  </div>
  <div class="span4">
    <p><a href="https://www.livingsocial.com/" target="_blank"><img class="employer" src="img/employers/livingsocial.png" alt="Living Social Logo"></a></p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <p><a href="http://www.notch8.com/" target="_blank"><img class="employer" src="img/employers/notch8.png" alt="Notch8 logo"></a></p>
  </div>
  <div class="span4">
    <p><a href="http://workwithopal.com/" target="_blank"><img class="employer" src="img/employers/opal.png" alt="Opal logo"></a></p>
  </div>
  <div class="span4">
    <p><a href="https://www.opensesame.com/" target="_blank"><img class="employer" src="img/employers/opensesame.png" alt="OpenSesame logo"></a></p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <p><a href="http://planetargon.com/" target="_blank"><img class="employer" src="img/employers/planet-argon.png" alt="Planget Argon logo"></a></p>
  </div>
  <div class="span4">
    <p><a href="http://pointnineseven.com/" target="_blank"><img class="employer" src="img/employers/point-97.png" alt="Point 97 logo"></a></p>
  </div>
  <div class="span4">
    <p><a href="http://quickleft.com/" target="_blank"><img class="employer" src="img/employers/quick-left.png" alt="Quick Left logo"></a></p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <p><a href="http://www.revelationglobal.com/" target="_blank"><img class="employer" src="img/employers/revelation.png" alt="Revelation logo"></a></p>
  </div>
  <div class="span4">
    <p><a href="http://www.sandboxstudio.com/" target="_blank"><img class="employer" src="img/employers/sandbox-studio.png" alt="Sandbox Studio logo"></a></p>
  </div>
  <div class="span4">
    <p><a href="https://www.scribbletone.com/" target="_blank"><img class="employer" src="img/employers/scribble-tone.png" alt="Scribble Tone logo"></a></p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <p><a href="https://www.spendwellhealth.com/" target="_blank"><img class="employer" src="img/employers/spendwell.jpg" alt="SpendWell logo"></a></p>
  </div>
  <div class="span4">
    <p><a href="https://switchboardhq.com/" target="_blank"><img class="employer" src="img/employers/switchboard.png" alt="Switchboard logo"></a></p>
  </div>
  <div class="span4">
    <p><a href="https://www.unigo.com/" target="_blank"><img class="employer" src="img/employers/unigo.png" alt="Unigo logo"></a></p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <p><a href="https://www.weblively.com/" target="_blank"><img class="employer" src="img/employers/weblively.png" alt="WebLively logo"></a></p>
  </div>
</div>
{% include _partials/footer.html %}
