{% include partials/header.html %}

<div class="hero-unit">
  <div class="row">
    <div class="span5">
      <header>
        <hgroup>
          <h1>Become a programmer in four months.</h1>
          <h2><strong>Epicodus</strong> is a four month, forty hour per week, in-person class on programming. You'll learn everything you need to know to get a job as a web developer or build your startup's app.</h2>
        </hgroup>
        <div class="action-buttons">
          <a href="students.html" class="btn btn-large btn-primary">Become a student</a>
          <a href="employers.html" class="btn btn-large btn-info">Hire graduates</a>
        </div>
      </header>
    </div>
    <div class="span7">
      <div class="video"><iframe src="//player.vimeo.com/video/81838552?player_id=homepage-video&api=1" id="homepage-video" width="600" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
    </div>
  </div>
</div>

<div class="features">
  <div class="row">
    <div class="span12">
      <h2>Epicodus alumni have said:</h2>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <div class="feature">
        <p><em>"At this time last year, I was stuck in a dead end job, was questioning my career path, and felt like I wasn't living up to my potential. This year, I have a job at a place that is genuinely excited to help me learn and grow. I'm really passionate about development and couldn't be more excited to keep learning in this field."</em> - Anna Valkov</p>
      </div>
    </div>
    <div class="span4">
      <div class="feature">
        <p><em>"After completing Epicodus, I sent out quite a few resumes, and ultimately had the choice between two very interested companies. I've worked just over a month now at my new job and couldn't be happier with the position. They seem pretty pleased with my contributions to the team and impressed with some work I've done for them. The internship I did with Epicodus was an awesome experience and invaluable in my job search."</em> - Diego Avalon</p>
      </div>
    </div>
    <div class="span4">
      <div class="feature">
        <p><em>"Going through this program and learning a viable skill has turned my life completely around. You helped me kindle a passion and desire for programming and I actually wake up with a smile knowing I have a job I enjoy. I feel this is something I can really excel at."</em> - David Torbeck</p>
      </div>
    </div>
  </div>
</div>

{% include partials/footer.html %}
