{% include partials/header.html %}

<div class="row">
  <div class="span12">
    <h1>Internships</h1>
  </div>
</div>
<div class="row">
  <div class="span6">
    <div class="module mod-faq">
      <h3><i class="icon-map-marker icon-large"></i>About the internship program</h3>
      <p>For the last five weeks of Epicodus, local companies host students as full-time interns. It's a chance for students to learn about how development works in the real world, and a chance for companies to work with talented developers in the making.</p>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-user icon-large"></i>What to expect from students</h3>
      <p>Students begin the internship program after 15 weeks at Epicodus. They are still students and are still learning. The internship should be an educational environment where students learn how to apply the skills they practiced in the classroom to real-world development.</p>
      <p>We place interns in pairs. While the interns usually don't pair-program, they typically sit next to each other and help each other out, reducing their need to ask questions of their mentor and giving them more confidence to ask when they do have questions.</p>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-cog icon-large"></i>What to expect from employers</h3>
      <p>Participating employers come in all types, sizes, and missions: we've had employers range from a one-person startup to a Fortune 100 to a non-profit. There are just two things employers must provide to participate:</p>
      <ul>
        <li>A learning experience for the interns, in which the interns will spend at least 30 hours each week writing code.</li>
        <li>An experienced developer as a mentor who will guide the interns and answer their questions.</li>
      </ul>
      <p>We strongly recommend all participating employers read the <a href="internship-report.pdf">internship report (PDF)</a> we've written compiling what has worked well for employers who have participated before.</p>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-edit icon-large"></i>The agreement</h3>
      <p>Interns and employers must both sign a short, straightforward <a href="https://www.docracy.com/3u15apa3dv/internship-agreement">agreement governing the internship</a>.</p>
    </div>
  </div>
  <div class="span6">
    <div class="module mod-faq">
      <h3><i class="icon-refresh icon-large"></i>Matchmaking</h3>
      <p>Because of the large number of students and employers who participate in the internship program, Epicodus facilitates match-making between students and employers. Here's how it works:</p>
      <ol>
        <li>Students rank employers based off description employers provide.</li>
        <li>Epcodus staff choose 8 students for each employer to interview.</li>
        <li>Employers come to Epicodus for 4 hours to interview their matched students, and provide a ranking of their preference.</li>
        <li>Students re-rank employers after their interviews.</li>
        <li>Epicodus staff match-make.</li>
      </ol>
      <p>Often, employers do not get their first choice interns, because they are not those students' top choice. And often, students do not get their first choice internships, because they are not those employers' top choice. Very rarely, a student and employer may be each others' top choice but not be matched, because it would mean that a second-choice employer or student would have no other good match.</p>
      <p>We are almost always able to get students one of their top three choice internships, and employers at least one of their top three choice interns.</p>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-calendar icon-large"></i>Timeline</h3>
      <p>The next Epicodus internship program is from April 20 to May 22. Here are the events leading up to it:</p>
      <ul>
        <li><strong>9 weeks out</strong>: Epicodus starts accepting employer applications.</li>
        <li><strong>6 weeks</strong>: Employer applications are due. Students rank the companies. Epicodus staff assign students for interviews.</li>
        <li><strong>5 weeks</strong>: Employers come to Epicodus to interview students. Rankings from employers and students are due at the end of the week.</li>
        <li><strong>4 weeks</strong>: Epicodus staff match-make and send out placements.</li>
      </ul>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-leaf icon-large"></i>Pay (or not to pay)</h3>
      <p>Most employers who participate in the internshi program do not pay their interns. However, some do. Whether interns are paid, and if so, how much, is entirely up to the employers. Employers must comply with all laws governing salaries for interns. For more information, see this <a href="http://www.dol.gov/whd/regs/compliance/whdfs71.htm">Department of Labor internship fact sheet</a>.</p>
      <p>If an employer asks an intern to continue past five weeks, any additional time is not part of the Epicodus internship program and must be paid.</p>
    </div>
  </div>
</div>

{% include partials/footer.html %}
