{% include partials/header.html %}

<div class="row">
  <div class="span12">
    <h1><a href="index.html">Epicodus</a> jobs</h1>
  </div>
</div>
<div class="row">
  <div class="span9">
    <h2>Do you like to teach and write great code? Get in touch and we'll let you know when we're hiring. Look forward to sane hours, competitive pay with great benefits, and work you'll love.</h2>
  </div>
</div>
<div class="row">
  <div class="span6">
    <div class="module mod-faq">
      <h3><i class="icon-pencil icon-large"></i>Teachers</h3>
      <p>We generally hire junior-level developers as teachers, usually picking top Epicodus students to fill these roles. However, we plan to offer courses in other languages alongside our JavaScript/Ruby class in 2015. If you're familiar with Java, C#, or PHP and love teaching, let's chat!</p>
      <p>To give you an idea of what teaching at Epicodus is like, on a typical day, you'll come to class by 9am. We start with a standup where students and teachers can share interesting things they learned from the previous day and make announcements about events. The rest of the day, students pair program on projects that push their abilities for the concept we're studying that week. You'll walk around the classroom, answering questions, reviewing code, and giving feedback. When 5pm rolls around, class is over.</p>
      <p>And that's 99% of your job. No lectures to prepare, no homework to grade - just show up to class each day and help the students work through our curriculum. You can see our current JavaScript and Ruby curriculum online at <a href="http://www.learnhowtoprogram.com/" target="_blank">www.learnhowtoprogram.com</a>. We'll be working to develop other curricula for the other languages we add.</p>
    </div>
  </div>
  <div class="span6">
    <div class="module mod-faq">
      <h3><i class="icon-cog icon-large"></i>Developers</h3>
      <p>We recently started a sister company, <a href="http://www.melddev.com/" target="_blank">Meld</a>, to hire and continue training some of our students after Epicodus while building client projects. If you're a mid- or senior-level developer who loves mentoring, Meld might be your dream job.</p>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-file icon-large"></i>How to apply</h3>
      <p>If this sounds like as much fun to you as it does to us, <strong><a href="mailto:jobs@epicodus.com">drop us a line</a></strong> and tell a little bit about yourself.</p>
      <p><a href="mailto:jobs@epicodus.com" class="btn btn-primary btn-large">Email us to apply</a></p>
    </div>
  </div>
</div>

{% include partials/footer.html %}
