{% include partials/header.html %}

<div class="row">
  <div class="span12">
    <h1>PHP, JavaScript, and Drupal</h1>
  </div>
</div>
<div class="row">
  <div class="span9">
    <p><a href="apply.html" class="btn btn-primary btn-large">Apply for upcoming courses.</a></p>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div class="module mod-faq">
      <h3><i class="icon-search icon-large"></i>About the course</h3>
      <p>This course provides the foundations for building websites using the tools and technologies behind sites like <a href="http://www.whitehouse.gov/" target="_blank">WhiteHouse.gov</a> and <a href="http://www.sony.com/" target="_blank">Sony.com</a>. You'll learn everything from building powerful content management backends to creating interactive frontend user interfaces.</p>
      <p>At Epicodus, our approach is to start by developing strong programming fundamentals using a minimal number of tools and libraries. The first half of the classwork will get you familiar with the basics of PHP, JavaScript, the web, and databases.</p>
      <p>After you have a solid foundation for reasoning about your code, we'll add libraries and frameworks that are used in the real world to make you more productive. In the second half of the classwork, you'll use tools like AngularJS, Ember.js, and Drupal.</p>
      <p>At the end of the course, we'll match you with local companies for two-month paid internships.</p>
      <p>Be sure to also read the more <a href="students.html">general information</a> on our courses.</p>
    </div>

    <div class="module mod-faq">
      <h3><i class="icon-book icon-large"></i>What you'll learn</h3>
      <p>Here's some of what we'll cover:</p>
      <ul>
        <li><strong>HTML and CSS</strong>: the presentation and styling languages of the web</li>
        <li><strong>PHP</strong>: the most popular language for web servers</li>
        <li><strong>SQL</strong>: the database language to store and retrieve information</li>
        <li><strong>jQuery</strong>: a library for interactive web pages</li>
        <li><strong>JavaScript</strong>: the programming language of web browsers</li>
        <li><strong>AngularJS</strong>: a framework for building interactive web pages</li>
        <li><strong>Drupal</strong>: a content management system powering millions of websites</li>
      </ul>
      <p>Don't worry if you don't understand what all of this means; that's what Epicodus is for.</p>
    </div>
  </div>

  <div class="span6">
    <div class="module mod-faq">
      <h3><i class="icon-road icon-large"></i>Before starting</h3>
      <p>You don't need any prior education or experience for Epicodus. That said, we expect you to try out programming basics on your own before applying, to make sure that you actually like it. Our litmus test to make sure you've done enough background work is that we ask you to solve the <a href="http://www.learnhowtoprogram.com/lessons/the-ping-pong-test" target="_blank">Ping-Pong</a> test and the <a href="http://www.learnhowtoprogram.com/lessons/layout-test" target="_blank">layout test</a> before or shortly after applying. A good place to start learning is the Epicodus curriculum at <a href="http://www.learnhowtoprogram.com/" target="_blank">www.learnhowtoprogram.com</a>; it will guide you through everything you need to know to solve the tests.</p>
    </div>

    <div class="module mod-faq">
      <h3><i class="icon-calendar icon-large"></i>Schedule</h3>
      <p>In 2015, we'll offer two PHP, JavaScript, and Drupal courses:</p>
      <ul>
        <li>March 2 to June 12</li>
        <li>July to November (exact dates to be determined)</li>
      </ul>
    </div>

    <div class="module mod-faq">
      <h3><i class="icon-file icon-large"></i>Apply</h3>
      <p>We're currently taking applications for our March 2 session, as well as our April 20 <a href="ruby.html">Ruby, JavaScript, and Rails</a> course.</p>
      <p><a href="apply.html" class="btn btn-primary btn-large">Apply for upcoming courses.</a></p>
      <p>Or, sign up to hear when applications open for future classes:</p>
      <form action="//herokuapp.us6.list-manage.com/subscribe/post?u=82cd276f480dd696a37603cd6&amp;id=2d99c9085b" method="post" name="mc-embedded-subscribe-form" class="form-inline" id="email-signup">
        <input type="hidden" value="2" name="group[6097][2]" checked>
        <input type="email" value="" name="EMAIL" placeholder="Enter your email">
        <input type="submit" value="Subscribe" name="subscribe" class="btn">
      </form>
    </div>
  </div>
</div>

{% include partials/footer.html %}
