{% include partials/header.html %}

<div class="row">
  <div class="span12">
    <h1>Ruby, JavaScript, and Rails</h1>
  </div>
</div>
<div class="row">
  <div class="span9">
    <p><a href="apply.html" class="btn btn-primary btn-large">Apply for upcoming courses.</a></p>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div class="module mod-faq">
      <h3><i class="icon-search icon-large"></i>About the course</h3>
      <p>This course provides the foundations for building web applications using the tools and technologies behind websites like <a href="https://www.airbnb.com/" target="_blank">Airbnb</a> and <a href="https://squareup.com/" target="_blank">Square</a>. You'll learn everything from building powerful backend server applications to creating interactive frontend user interfaces.</p>
      <p>At Epicodus, our approach is to start by developing strong programming fundamentals using a minimal number of tools and libraries. The first half of the classwork will get you familiar with the basics of Ruby, JavaScript, the web, and databases.</p>
      <p>After you have a solid foundation for reasoning about your code, we'll add libraries and frameworks that are used in the real world to make you more productive. In the second half of the classwork, you'll use tools like AngularJS, Ember.js, and Ruby on Rails.</p>
      <p>For the last month of the course, you'll intern with a local company.</p>
      <p>Be sure to also read the more <a href="students.html">general information</a> on our courses.</p>
    </div>

    <div class="module mod-faq">
      <h3><i class="icon-book icon-large"></i>What you'll learn</h3>
      <p>Here's some of what we'll cover:</p>
      <ul>
        <li><strong>HTML and CSS</strong>: the presentation and styling languages of the web</li>
        <li><strong>Ruby</strong>: an elegant language for the server</li>
        <li><strong>SQL</strong>: the database language to store and retrieve information</li>
        <li><strong>Active Record</strong>: a Ruby library to make databases easy</li>
        <li><strong>jQuery</strong>: a library for interactive web pages</li>
        <li><strong>JavaScript</strong>: the programming language of web browsers</li>
        <li><strong>AngularJS and Ember.js</strong>: frameworks for building interactive web pages</li>
        <li><strong>Ruby on Rails</strong>: a framework to make web applications easy</li>
        <li><strong>AJAX</strong>: a way to make web pages interactive</li>
        <li><strong>APIs</strong>: the way that web applications talk to each other</li>
      </ul>
      <p>Don't worry if you don't understand what all of this means; that's what Epicodus is for.</p>
    </div>
  </div>

  <div class="span6">
    <div class="module mod-faq">
      <h3><i class="icon-road icon-large"></i>Before starting</h3>
      <p>You don't need any prior education or experience for Epicodus. That said, we expect you to try out programming basics on your own before applying, to make sure that you actually like it. Our litmus test to make sure you've done enough background work is that we ask you to solve the <a href="http://www.learnhowtoprogram.com/lessons/the-ping-pong-test" target="_blank">Ping-Pong</a> test and the <a href="http://www.learnhowtoprogram.com/lessons/layout-test" target="_blank">layout test</a> before or shortly after applying. A good place to start learning is the Epicodus curriculum at <a href="http://www.learnhowtoprogram.com/" target="_blank">www.learnhowtoprogram.com</a>; it will guide you through everything you need to know to solve the tests.</p>
    </div>

    <div class="module mod-faq">
      <h3><i class="icon-calendar icon-large"></i>Schedule</h3>
      <p>In 2015, we'll offer three Ruby, JavaScript, and Rails courses:</p>
      <ul>
        <li>January 5 to May 22</li>
        <li>April 20 to September 4</li>
        <li>August 3 to December 31</li>
      </ul>
    </div>

    <div class="module mod-faq">
      <h3><i class="icon-file icon-large"></i>Apply</h3>
      <p>We're currently taking applications for our April 20 session, as well as our March 2 <a href="php.html">PHP, JavaScript, and Drupal</a> course.</p>
      <p><a href="apply.html" class="btn btn-primary btn-large">Apply for upcoming courses.</a></p>
      <p>Or, sign up to hear when applications open for future classes:</p>
      <form action="//herokuapp.us6.list-manage.com/subscribe/post?u=82cd276f480dd696a37603cd6&amp;id=2d99c9085b" method="post" name="mc-embedded-subscribe-form" class="form-inline" id="email-signup">
        <input type="hidden" value="2" name="group[6097][2]" checked>
        <input type="email" value="" name="EMAIL" placeholder="Enter your email">
        <input type="submit" value="Subscribe" name="subscribe" class="btn">
      </form>
    </div>
  </div>
</div>

{% include partials/footer.html %}
