{% include partials/header.html %}

<div class="row">
  <div class="span12">
    <h1>Students</h1>
  </div>
</div>
<div class="row">
  <div class="span6">
    <div class="module mod-faq">
      <h3><i class="icon-ok icon-large"></i>What you'll learn</h3>
      <p>At Epicodus, you'll learn how to build web applications from top to bottom with modern technologies and practices. More importantly than any particular skill, though, you'll learn how to think like a programmer, write good code, and pick up new languages and technologies in this fast-changing industry.</p>
      <p>We currently offer two courses: one covering <a href="php.html">PHP, JavaScript, and Drupal</a>, and one covering <a href="ruby.html">Ruby, JavaScript, and Rails</a>.</p>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-map-marker icon-large"></i>Requirements, schedule, location</h3>
      <p>You don't need any prior education or experience. That said, we expect you to try out programming basics on your own before applying, to make sure that you actually like it. Each course has a small test to make sure you've done your homework. A good place to start learning is the Epicodus curriculum at <a href="http://www.learnhowtoprogram.com/" target="_blank">www.learnhowtoprogram.com</a>.</p>
      <p>You will need to spend forty hours per week in class for four months, plus a few hours per week on homework. There will also be about 40 hours of pre-class homework. Class is 9am to 5pm, Monday through Friday, with an hour for lunch.</p>
      <p>Our office is at 208 SW 5th Ave in downtown Portland, Oregon (please <a href="mailto:hi@epicodus.com">contact us</a> before dropping in). We accept students from anywhere in the world.</p>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-user icon-large"></i>Who we are</h3>
      <p>We're four teachers, two outreach coordinators (who help our graduates find jobs and help enroll new students), and our president. Except for our president, all of our staff are Epicodus graduates themselves.</p>
      <p>Here's what a couple past students had to say about their teachers:</p>

      <p><em>Dustin, Kelly, and Mac have been incredible. They have helped me readjust my thinking and allowed me to come up with the solution, and have been patient and kind to all of us.</em> - Debbie Cravey, Winter 2015</p>

      <p><em>Both of the instructors have the uncanny ability of revealing just enough of the solution when asked for help not to rob you of those great moments of discovery when coding.</em> - John Cech, Spring 2014</p>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-tag icon-large"></i>How much it costs</h3>
      <p>We offer three payment plans:</p>
      <ul>
        <li>Pay $3,400 up-front, within a week of enrolling.</li>
        <li>Pay $900 up-front, and $3,600 on the first day of class ($4,500 total).</li>
        <li>Pay $200 up-front, and $600 monthly for 8 months after the class ($5,000 total).</li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <div class="module mod-faq">
      <h3><i class="icon-edit icon-large"></i>How you'll learn</h3>
      <p>Most evenings and weekends, you'll watch about 20-30 minutes of video from our curriculum at <a href="http://www.learnhowtoprogram.com/" target="_blank">www.learnhowtoprogram.com</a>. These videos introduce new concepts by explaining the principles and then showing examples of how to apply them in code.</p>
      <p>Each day, our class starts with a 5-10 minute standup, where students can share anything with the rest of the class: coding tricks they learned, interesting blog posts they read, upcoming meetups they're going to. You'll spend the entire rest of your day coding a new program each day. On Monday, you'll simply build off the example from the weekend video. Each following day, the program you're assigned to build will get progressively more difficult, until you have a solid understanding of the concept.</p>
      <p>Monday through Thursday, you'll practice pair programming: two people sharing one computer, taking turns who uses the keyboard and mouse. By working together, you catch each other's mistakes, teach each other new skills, and come up with ideas together neither of you would have had alone. Pairing is increasingly used by tech companies (like Facebook and Square), and we've found that pair programming helps you learn faster, too.</p>
      <p>On Friday, students work alone on a project that teachers assess and provide feedback on over the weekend.</p>
      <p>For the last month of class, we connect our students with local software companies for full-time internships.</p>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-calendar icon-large"></i>What happens after</h3>
      <p>Most of our students look for jobs after the course is over, and our highest priority is to help you find work you'll love. Since Epicodus is based on building projects, you'll have a portfolio of code to impress employers with. In addition to our job fair and internship program, we have two full-time staff members dedicated to connecting employers with our students.</p>
      <p>100% of our fall 2013 graduates and 97% of our spring 2014 graduates received job offers within just over 3 months of graduating or beginning to look for work. Most of our graduates working in Portland make salaries of $35-55,000.</p>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-question-sign icon-large"></i>More questions?</h3>
      <p>Check our <a href="faq.html">frequently asked questions</a> page.</p>
    </div>
    <div class="module mod-faq">
      <h3><i class="icon-file icon-large"></i>Apply</h3>
      <p><a href="apply.html" class="btn btn-primary btn-large">Apply for upcoming courses.</a></p>
      <p>Or, sign up to hear when applications open for future classes:</p>
      <form action="//herokuapp.us6.list-manage.com/subscribe/post?u=82cd276f480dd696a37603cd6&amp;id=2d99c9085b" method="post" name="mc-embedded-subscribe-form" class="form-inline">
        <input type="hidden" value="2" name="group[6097][2]" checked>
        <input type="email" value="" name="EMAIL" placeholder="Enter your email">
        <input type="submit" value="Subscribe" name="subscribe" class="btn">
      </form>
    </div>
  </div>
</div>

{% include partials/footer.html %}
